/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Basic styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url('tiimalasi.jpg');
}

html{
    background-color: blueviolet;
}



.sidebar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 20%;
}

.content {
    padding: 20px;
    width: 80%;
}

/* Navigation styling */
.sidebar h2 {
    margin-bottom: 10px;
    color: blanchedalmond;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
    color: rgb(2, 2, 2);
}

a {
    color: #0d4bc0;
    text-decoration: none;
}



.gallery-img {
    display: flex;
    height: 50;
    width: 60%;
   
}
.content{
    display: flex;
    justify-content: center;
    color: aquamarine;
   
}

article{
    -webkit-text-fill-color: blueviolet;
}